NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DEFAULT_BALLOT_PAPER_ID=parl.holborn-and-st-pancras.by.2026-10-08
DEMOCRACY_CLUB_TOKEN=
DEMOCRACY_CLUB_DEVELOPERS_KEY=
REVIEWERS=
